//COLOR
// $color-primary : #7ed56f;
// $color-primary-light: #55c57a;
// $color-primary-dark: #28b485;

// $color-primary : #51a7e0;
// $color-primary-light: #1f74ac;
// $color-primary-dark: #144d73;

$color-primary : #7cbde8;
$color-primary-light: #51a7e0;
$color-primary-dark: #175781;


$color-secondary-light: #ffa76d;
$color-secondary-dark: #f56200;

$color-tertiary-light: #94c6e7;
$color-tertiary-dark: #2676ab;

$color-btn:#777;
$color-text-heading:#fff;
$color-text-about-section:#777;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3:#f6f8f8;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black: #000;
$color-white: #fff;

//GRID  
$grid-row-width:114rem;
$grid-row-width-small:53rem;

$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;

$gutter-horizontal:6rem;
$gutter-horizontal-small:3rem;

// FONT SIZE

$default-font-size:1.6rem;