/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
1rem = 10px     
*/

html{
    font-size: 62.5%;   // 16/10 = 62.5%

    @include respond(big-desktop){
        font-size: 75%; //  12/16 = 75%  ==> 12px
    }
    @include respond(tab-land){
        font-size: 50%; // 8/16  = 50%  ==> 8px
    }
    @include respond(tab-port){
        font-size: 37.5%; // 6/16 = 37.5 ==> 6px
    }
}

body {
    font-family: "lato",sans-serif;   
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }

}