.heading-primary{
    color: $color-text-heading;
    text-transform: uppercase;  
    margin-bottom: 5rem;
    backface-visibility: hidden;

    &--main {
        display: block;
        letter-spacing: 3.5rem;
        font-size: 6rem;
        font-weight: 400;
        margin-bottom: 2rem;
        @include respond(tab-port){
            letter-spacing: 3rem;
            font-size: 6rem;
            margin-bottom: 1rem;
        }

        @include respond(phone){
            letter-spacing: 2rem;
            font-size: 4rem;
            margin-bottom: 1rem;
        }
        animation-name: moveInLeft; /* provide the name of animation */
        animation-duration: 1s; /* time in which animation should take place */
        animation-timing-function: ease-out; 
        /*ease-out ==> at start animation will be slow then fast, ease-in ==> vise-vers of ease-out*/
        
        /* 
        animation-delay: 3s;  //Animation takes place after three sec
    
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.75rem;

        @include respond(tab-port){
            letter-spacing: 1.5rem;
            font-size: 2rem;
        }

        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 1.5rem;
        }
        animation: moveInRight 1s ease-out;
    
    }
}


.heading-secondary{
    background-image: linear-gradient(to right bottom,$color-primary,$color-primary-dark);
    font-size: 3.5rem;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 700;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 2.5rem;
    }

    @include respond(phone) {
        font-size: 1.5rem;
    }
    
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}


.heading-tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-text-about-section;

    @include respond(tab-port) {
        font-size: 1.3rem;
    }

    @include respond(phone) {
        font-size: 1rem;
    }

}

.paragraph {
    font-size: 1.6rem;
    color: $color-text-about-section;
    line-height: 2.5rem;
    margin-bottom: 4rem;

    @include respond(tab-port) {
        font-size: 1.3rem;
    }

    @include respond(phone) {
        font-size: 1rem;
    }
}